fastapi
uvicorn
websockets

langchain
langchain-core
langchain-community
langchain-groq
groq

faiss-cpu

pypdf
python-pptx
unstructured
beautifulsoup4

deepgram-sdk
elevenlabs

numpy

pydantic
python-dotenv
python-multipart

requests
aiohttp
tqdm