fastapi
uvicorn
websockets

langchain
langchain-core
langchain-community
langchain-groq
groq

faiss-cpu

pypdf
python-pptx
unstructured
beautifulsoup4

faster-whisper
TTS==0.22.0
soundfile

numpy
scipy

pydantic
python-dotenv
python-multipart

requests
aiohttp
tqdm